					<section id="sidebar">
						<!-- Footer -->
							<section id="footer">
<p class="copyright">&copy; <a href="http://www.perfect.org" target="_blank">PerfectlySoft</a>. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
							</section>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>
